.request {
    background-color: $primary;
    padding-top: 290px;
    margin-top: -210px;
    position: relative;
    z-index: 0;

    &__wrapper {
        padding: 70px 90px;
        @media (max-width: 992px) {
            padding: 70px 30px;
        }
        border: 1px solid #fff;
        border-radius: 5px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 160px;
            height: 160px;
            @media (max-width: 992px) {
                width: 120px;
                height: 120px;
            }
            background-image: url('../assets/img/request.svg');
            z-index: -1;
        }
    }

    &__form-wrapper {
        display: flex;
    }

    &__result {
        display: none;
    }

    &__description {
        font-size: 1.5rem;
    }

    &__subtitle {
        font-size: 2rem;
    }

    &__form-validation {
        display: flex;
    }

    &__form-validation:not(:last-child) {
        margin-bottom: 25px;
        position: relative;

        &:after {
            content: 'Пожалуйста, заполните поле';
            display: block;
            position: absolute;
            bottom: -25px;
            left: 48px;
            color: red;
            font-size: 15px;
            opacity: 0;
            transition: opacity 0.3s;
        }

        &.invalid {
            input {
                border-bottom-color: red;
            }

            &:after {
                opacity: 1;
            }
        }
    }

    &__form-field {
        display: inline-block;
        padding: 10px 0;
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        color: $secondary;
        transition: border-bottom-color 0.3s;

        &:focus {
            outline: none;
            border-bottom-color: $secondary;
        }

        &::placeholder {
            color: $secondary;
        }
    }

    &__form-radio {
        p {
            font-size: $font-size-base;  
            text-align: left;
        }
        &-container {
            display: block;
            position: relative;
            cursor: pointer;
            padding-left: 35px;
            text-align: left;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
        &-icon {
            position: absolute;
            top: 3px;
            left: 0;
            height: 26px;
            width: 26px;
            border-radius: 50%;
            border: 2px solid $secondary;

            &:after {
                content: '';
                position: absolute;
                height: 14px;
                width: 14px;
                background: $secondary;
                border-radius: 50%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: opacity 0.3s;
            }
        }
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked ~ .request__form-radio-icon:after {
                opacity: 1;
            }
        }
}

    .btn {
        padding-left: 60px;
        padding-right: 60px;
    }
}