.video {
    height: 1000px;
    background-image: url(../assets/img/banner2.jpg);
    background-size: auto 1000px;
    background-repeat: no-repeat;
    background-color: #f8f1f1;
    background-position-y: bottom;
    overflow: hidden;
    @media (max-width: 1440px) {
        background-position-x: -150px;
    }
    @media (max-width: 1200px) {
        background-position-x: -250px;
    }
    @media (max-width: 992px) {
        height: 1300px;
        background-size: auto 800px;
        background-position-x: center;
    }
    @media (max-width: 768px) {
        background-position-x: -200px;
    }
    @media (max-width: 500px) {
        background-position-x: -250px;
    }
    &__item {
        max-width: 391px;
        margin-top: 150px;
        &-label {
            display: inline-block;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 3.2px;
        }
        &-title {
            font-size: 1.875rem;
        }
        &-author {
            display: inline-block;
        }
        &-description {
            color: $gray-600;
            position: relative;
            z-index: 1;
            &:after {
                content: '';
                width: 137px;
                height: 114px;
                position: absolute;
                background-image: url(../assets/img/video-bottom.svg);
                bottom: -112px;
                right: -40px;
                z-index: -1;
                @media (max-width: 992px) {
                    right: -60px
                }
            }
        }
        &-player {
            width: 391px;
            height: 220px;
            position: relative;
            z-index: 1;
            @media (max-width: 440px) {
                width: 100%;
            }
            &:before {
                content: '';
                width: 206px;
                height: 230px;
                position: absolute;
                background-image: url(../assets/img/video-top.svg);
                top: -76px;
                left: -173px;
                z-index: -1;
                @media (max-width: 992px) {
                    left: -80px
                }
            }
        }
    }
}